.dash-card {
  width: 300px;
  height: 150px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  cursor: pointer;
  margin: 10px auto;
}
.dash-card:hover {
  background: #dae3ff;
}

.login-card {
  margin-top: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}